<div class="container p-4">
    <div class="row">
        <div class="col-ms-4 col-md-8 col-ml-8 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">EDITANDO USUARIO {{persona.nombre_usuario}}</h3>
                </div>
                <div class="card-body">
                    <form action="/central/detailsEditUser/{{persona.usuario}}" method="post">
                        <div class="input-group mt-2">
                        <label for="" class="input-group-text">Cedula</label>
                        <input class="form-control" type="text" name="id_usuario" id="id_usuario" placeholder="Cedula" value="{{persona.usuario}}" required disabled>
                    </div>
                    <div class="input-group mt-2">
                        <label for="" class="input-group-text">Nombre</label>
                        <input class="form-control" type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre Local" value="{{persona.nombre_usuario}}" required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="" class="input-group-text">Telefono</label>
                        <input class="form-control" type="text" name="telefono_usuario" id="telefono_usuario" placeholder="Descripcion Local" value="{{persona.telefono_usuario}}" required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="" class="input-group-text">Correo</label>
                        <input class="form-control" type="text" name="correo_usuario" id="correo_usuario" placeholder="Descripcion Local" value="{{persona.correo_usuario}}" required>
                    </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success">Actualizar Usuario</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>